@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.orbitron-400 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}

.orbitron-500 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

.orbitron-600 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
}

.orbitron-700 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.orbitron-800 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
}

.orbitron-900 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
}
